.chart-legend {
    margin: 1em 0 0.5em 0;
}

.chart-legend label{
    font-weight: 600;
}

.chart-legend-entry {
    display: inline;
}

.chart-legend-entry span.chart-legend-color {
    padding: 0.01em 0.5em;
    margin-right: 0.25em;
    border-radius: 20%;
}

.chart-legend-entry span.chart-legend-color.impression-legend {
    background-color: rgba(110,110,110,1);
}

.chart-legend-entry span.chart-legend-color.click-legend {
    background-color: rgba(255,69,0,1);
}

.chart-legend-entry span.chart-legend-color.crawler-legend {
    background-color: rgba(20,69,0,0.5);
}