@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Signika:400,600);

#app {

}

.viewport {
    position: relative;
}

.viewport .content {
    padding-top: 5em;
}

.view-title h4 {
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}

@media (min-width: 544px) {
    .content {
        margin-left: 20%;
    }

}

@media (min-width: 768px) {
    .content {
        margin-left: 25%;
    }
}

#heading {
    padding-top: 1em;
    position: fixed;
    background-color: #f1f1f1;
    width: 100%;
    z-index: 100;
}

#heading a {
    display: inline-flex;
}

#heading h3 {
    font-family: 'Righteous', cursive;
    color: #443435;
}

#heading i {
    font-size: 1.5em;
    margin-right: .3em;
}

#sidebar {
    position: fixed;
    top: initial;
    padding-top: 5em;
    z-index: 90;
    background-color: white;
    min-height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    box-shadow: 5px 1px 5px -4px #eee;
}

#sidebar ul.nav .list-group-item {
    background: #2c3e50;
    color: white;
    border: 0px;
}

#sidebar ul.nav .list-group-item:hover,
#sidebar ul.nav .list-group-item.focus,
#sidebar ul.nav .list-group-item.active {
    background: #2f6fad !important;
    animation-name: bg-trans;
    animation-duration: 0.5s;
}

@keyframes bg-trans {
    from {
        background-color: #2c3e50;
    }
    to {
        background-color: #2f6fad;
    }
}

.table-section thead {
    background-color: #2c3e50;
    color: white
}

.table-section table {
    background-color: #eee;
    min-height: 50%;
    max-width: 100%;
}

.btn {
    min-width: 80px;
}

.view-title {
    margin-bottom: 20px;
}

.view-title h6.text-muted,
.modal-header h6.text-muted {
    margin-bottom: 0em;
}

td.colSpan {
    text-align: center;
    height: 300px;
    vertical-align: middle;
}

.left-margin {
    margin-left: 0.5em;
}

.bottom-margin {
    margin-bottom: 0.5em;
}

.radio-button-left, .radio-button-left:active {
    border-right: 1px solid white;
}

.radio-button-right, .radio-button-right:active {
    border-left: 1px solid white;
}

.search-bar {
    padding-right: 0em;
    width: 300px;
}

thead tr td:first-child {
    border-top-left-radius: 0.25rem;
}

thead tr td:last-child {
    border-top-right-radius: 0.25rem;
}

/* Gates */
#gates .gates-entry {
    width: 25%;
}

.gate-list {
    height: 65%;
    overflow-y: scroll;
    position: relative;
    border: 1px solid #eeeeff;
}

.gate-option {
    position: relative;
    margin-bottom: 1em;
}

.gate-option legend {
    width: initial;
}

.gate-option .btn-remove {
    position: absolute;
    top: 0;
    left: 85%;
}

.gate-value {
    margin-bottom: 0.5em;
    display: inline-block;
    background-color: aliceblue;
}

.gate-value:hover {
    cursor: default;
}

.gate-value a:hover {
    cursor: hand;
}

.gate-option-value {
    font-size: medium;
    margin-right: 0.5em;
    display: inline-block;
}

/* Campaign View */
.campaign-modal .modal-dialog {
    width: 80% !important;
}

.date-picker {
    width: 8em !important;
    position: relative;
}

.date-picker:after {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0px;
    content: "\f005";
}

/* Campaign */
.tab-content {
    padding: 1em;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-link {
    padding-bottom: 1em;
    background-color: #eeeeff;
    color: #484848;
    border: 1px solid #ddd;
}

.nav-tabs .nav-link:hover {
    background-color: #ececec;
}

/* Campaign Rules */
select.gate-select {
    width: 14em !important;
}

.modal-dialog {
    max-width: 80% !important;
}

.rule-entry {
    min-height: 3em;
    margin: 1em 0;
    background-color: #eee;
    padding: 0.5em;
    text-align: center;
}

.btn-icon {
    min-width: 1em;
}

/* Allow/Deny Radio Button */
/* Generated from LESS using BS mixins */
input[type="checkbox"].switch {
    outline: none;
    width: 105px;
    height: 22px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

input[type="checkbox"].switch:before,
input[type="checkbox"].switch:after {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 30px;
    top: 0;
    border: 0;
}

input[type="checkbox"].switch:after {
    content: "ON";
    left: 1px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

input[type="checkbox"].switch:before {
    content: "OFF";
    right: 1px;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 15px;
}

input[type="checkbox"].switch[data-label-on]:after {
    content: attr(data-label-on);
}

input[type="checkbox"].switch[data-label-off]:before {
    content: attr(data-label-off);
}

input[type="checkbox"].switch:before,
input[type="checkbox"].switch:checked:after {
    text-indent: 0;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(top, #e6e6e6, #ffffff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
    border-color: #ffffff #ffffff #d9d9d9;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *background-color: #ffffff;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    width: 100px;
    z-index: 0;
    border: 1px solid #cccccc;
}

input[type="checkbox"].switch:before:hover,
input[type="checkbox"].switch:checked:after:hover,
input[type="checkbox"].switch:before:active,
input[type="checkbox"].switch:checked:after:active,
input[type="checkbox"].switch:before.active,
input[type="checkbox"].switch:checked:after.active,
input[type="checkbox"].switch:before.disabled,
input[type="checkbox"].switch:checked:after.disabled,
input[type="checkbox"].switch:before[disabled],
input[type="checkbox"].switch:checked:after[disabled] {
    background-color: #ffffff;
    *background-color: #f2f2f2;
}

input[type="checkbox"].switch:before:active,
input[type="checkbox"].switch:checked:after:active,
input[type="checkbox"].switch:before.active,
input[type="checkbox"].switch:checked:after.active {
    background-color: #e6e6e6 \9;
}

input[type="checkbox"].switch:before {
    padding-left: 10px;
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

input[type="checkbox"].switch:checked:after {
    padding-right: 10px;
}

input[type="checkbox"].switch:checked:after {
    background-color: #0069cc;
    background-image: -moz-linear-gradient(top, #0055cc, #0088cc);
    background-image: -ms-linear-gradient(top, #0055cc, #0088cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0055cc), to(#0088cc));
    background-image: -webkit-linear-gradient(top, #0055cc, #0088cc);
    background-image: -o-linear-gradient(top, #0055cc, #0088cc);
    background-image: linear-gradient(top, #0055cc, #0088cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055cc', endColorstr='#0088cc', GradientType=0);
    border-color: #0088cc #0088cc #005580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *background-color: #0088cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    color: #ffffff;
}

input[type="checkbox"].switch:checked:after:hover,
input[type="checkbox"].switch:checked:after:active,
input[type="checkbox"].switch:checked:after.active,
input[type="checkbox"].switch:checked:after.disabled,
input[type="checkbox"].switch:checked:after[disabled] {
    background-color: #0088cc;
    *background-color: #0077b3;
}

input[type="checkbox"].switch:checked:after:active,
input[type="checkbox"].switch:checked:after.active {
    background-color: #006699 \9;
}

input[type="checkbox"].switch.switch-success:checked:after {
    background-color: #58b058;
    background-image: -moz-linear-gradient(top, #51a351, #62c462);
    background-image: -ms-linear-gradient(top, #51a351, #62c462);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#62c462));
    background-image: -webkit-linear-gradient(top, #51a351, #62c462);
    background-image: -o-linear-gradient(top, #51a351, #62c462);
    background-image: linear-gradient(top, #51a351, #62c462);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#62c462', GradientType=0);
    border-color: #62c462 #62c462 #3b9e3b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *background-color: #62c462;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}

input[type="checkbox"].switch.switch-success:checked:after:hover,
input[type="checkbox"].switch.switch-success:checked:after:active,
input[type="checkbox"].switch.switch-success:checked:after.active,
input[type="checkbox"].switch.switch-success:checked:after.disabled,
input[type="checkbox"].switch.switch-success:checked:after[disabled] {
    background-color: #62c462;
    *background-color: #4fbd4f;
}

input[type="checkbox"].switch.switch-success:checked:after:active,
input[type="checkbox"].switch.switch-success:checked:after.active {
    background-color: #42b142 \9;
}

input[type="checkbox"].switch.switch-inverse:checked:after {
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #222222, #555555);
    background-image: -ms-linear-gradient(top, #222222, #555555);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#555555));
    background-image: -webkit-linear-gradient(top, #222222, #555555);
    background-image: -o-linear-gradient(top, #222222, #555555);
    background-image: linear-gradient(top, #222222, #555555);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#555555', GradientType=0);
    border-color: #555555 #555555 #2f2f2f;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *background-color: #555555;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}

input[type="checkbox"].switch.switch-inverse:checked:after:hover,
input[type="checkbox"].switch.switch-inverse:checked:after:active,
input[type="checkbox"].switch.switch-inverse:checked:after.active,
input[type="checkbox"].switch.switch-inverse:checked:after.disabled,
input[type="checkbox"].switch.switch-inverse:checked:after[disabled] {
    background-color: #555555;
    *background-color: #484848;
}

input[type="checkbox"].switch.switch-inverse:checked:after:active,
input[type="checkbox"].switch.switch-inverse:checked:after.active {
    background-color: #3b3b3b \9;
}

input[type="checkbox"].switch:after,
input[type="checkbox"].switch:checked:before {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    text-indent: -9999px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    padding: 0;
}

input[type="checkbox"].switch:after:hover,
input[type="checkbox"].switch:checked:before:hover,
input[type="checkbox"].switch:after:active,
input[type="checkbox"].switch:checked:before:active,
input[type="checkbox"].switch:after.active,
input[type="checkbox"].switch:checked:before.active,
input[type="checkbox"].switch:after.disabled,
input[type="checkbox"].switch:checked:before.disabled,
input[type="checkbox"].switch:after[disabled],
input[type="checkbox"].switch:checked:before[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

input[type="checkbox"].switch:after:active,
input[type="checkbox"].switch:checked:before:active,
input[type="checkbox"].switch:after.active,
input[type="checkbox"].switch:checked:before.active {
    background-color: #cccccc \9;
}
